* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 120vh;
  background-image: url(/freestocks-_3Q3tsJ01nc-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero .navbar {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero .navbar nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
.hero .navbar nav ul a {
  text-decoration: none;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.521);
  font-weight: 10px;
}

.container {
  height: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px white solid;
  padding-left: 40px;
  padding-right: 40px;
}
.container .about1 {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
.container .about1 h2 {
  font-weight: 300;
  padding-bottom: 15px;
}
.container .about1 h4 {
  font-weight: 20;
  color: grey;
}

.mobileproduct {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mobileproduct .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.mobileproduct .grid img {
  height: 340px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.mobileproduct .grid button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: rgb(38, 47, 48);
  border: none;
  margin-top: 10px;
  border-radius: 8px;
}
.mobileproduct .head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}
.mobileproduct .head1 a {
  color: black;
}
.mobileproduct .head1 h2 {
  font-weight: 100;
  font-size: 30px;
}

.inst {
  margin-top: 80px;
  margin-bottom: 100px;
}
.inst h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.inst .iimage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
}
.inst .iimage img {
  height: 250px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 15px;
  padding: 10px;
  background-color: rgb(24, 31, 32);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .mini {
  height: 280px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.footer .mini h1 {
  font-size: 25px;
  color: white;
  font-weight: 200;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.footer .mini h5 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 15px;
}
.footer .mini a {
  color: white;
  padding: 10px;
}
.footer .quick {
  justify-content: center;
  align-items: center;
  height: 280px;
  padding: 30px;
  text-transform: uppercase;
  color: whitesmoke;
}
.footer .quick h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 10px;
}
.footer .quick ul {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 100;
  margin-left: 10px;
}
.footer .quick ul a {
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 10px;
}
.footer .help {
  height: 280px;
  gap: 100px;
  padding: 30px;
  text-transform: uppercase;
  color: whitesmoke;
}
.footer .help h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 10px;
}
.footer .help ul {
  list-style: none;
}
.footer .help ul a {
  text-decoration: none;
  color: whitesmoke;
}
.footer .cont {
  height: 280px;
  padding: 25px;
}
.footer .cont h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.footer .cont h3 {
  margin-bottom: 10px;
}
.footer .cont a {
  color: white;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */